{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style>


</style>


<div class="row" id="image">
<h3 class="about"><b><span style="color:#33adff"> About Us </b> </span></h3>
<h1 class="aboutus">Home/About Us</h1>


<br>
<br>
</div>
<br>
<br>
<br>
<div class="row"> 
<div class="col-md-10 col-md-offset-1">
  
  <div class="col-md-6">
 <h3 class="what"><b> WHAT DOES SMART CLEAN SERVICES DO?</b></h3>
<p class="people">House cleaning and laundry is quite exhausting. Washing your clothes regularly, drying and ironing them, removing stubborn stains from your exclusive garments and washing sheets regularly seems like a never ending story. It is not easy for everyone to maintain a work life balance. Do you get enough time to spend with your family or for yourself to do stuff that you really want? Well! if you are a victim of this problem, we are here for your rescue. Laundry bucket is a Noida based on-demand laundry service that provides good range of cleaning services for your home and office.</p>
<P class="people"> Many people are timid to send their clothes to local washers or dhobi’s, especially if you have expensive clothes with exquisite design and fabric. You are not sure if they would provide optimal care and maintain hygiene at the same time. Dealing with ever changing prices on daily basis is another problem. So, why compromise?</P>
<P class="people">Our laundry services are world class and meet international standards. We provide high quality laundry services with express delivery. Our company use latest tools and technology with premium quality products to provide superior services.</P>
<p class="people">Staff and professionals working with laundry & Dry Cleaning are highly experienced and have good knowledge about maintaining the quality and color of different types of fabrics. We provide premium laundry service and ensure that with every service you take with us, you have a smile on your face. Our prices don’t make holes in your wallet because they are equivalent to your home laundry.</p>
<p class="people">We don’t just focus on providing one service. Our gamut of services include carpet cleaning, blinds cleaning, sofa cleaning, kitchen cleaning, car cleaning, ironing, folding and shoe cleaning.</p>
</div>
 <div class="col-md-6">
 <h3 class="round"><img src="{%  static 'machine.jpg' %}"height="370" width="100%" class="img-rounded"/></h3>
 </div>
 </div>
</div>
<br>
<br>
<!--new row-->
 <div class="row" id="sub">
  <div class="col-md-12">
  <h3 class="heading"><b>Why Choose<span style="color:#33adff"> SMART CLEAN</b> </span></h3>
  <h3 class="drop"> Just drop of your clothes at any our stores or request for pick up online.We will do the rest! We wash dry & iron your clothes,you just have to ask.</h3>
 <br>
 <br>
 </div>
 
  <div class="col-md-12">
  <div class="col-md-3">
  <div class="col-md-12 why1">
 <h3 class="choose"><img src="{%  static 'high.png' %}"height="50" width="50%" ></h3>
		<h3 class="choose"><span style="color:#33adff"><b>High Quality</b></span></h3>
		<p class="choose">We provide high quality laundry service for Spotless Business Reputation.we serves diverse sectors with qulaity.</p>
  </div>
  </div>

  <div class="col-md-3">
  <div class="col-md-12 why1">
 <h3 class="choose"><img src="{%  static 'w1.jpg' %}"height="50" width="50%" ></h3>
		<h3 class="choose"><span style="color:#33adff"><b>Best Equipments</b></span></h3>
		<p class="choose">"No blending of garments.Ultra-clean lundomats with extraodinary bunding to keep up freshnesss."</p>
  </div>
  </div>

  
  <div class="col-md-3">
  <div class="col-md-12 why1">
 <h3 class="choose"> <img src="{%  static 'h1.jfif' %}"height="50" width="50%" ></h3>
  <h3 class="choose"><span style="color:#33adff"><b>Hygienic</b></span></h3>
		<p class="choose">No blending of garments.Ultra-clean laundromats with extraordinary bunding to keep up freshness.</p>	
  </div>
  </div>
  <div class="col-md-3">
  <div class="col-md-12 why1">
  <h3 class="choose"><img src="{%  static 'pro.png' %}"height="50" width="50%" ></h3>
  <h3 class="choose"><span style="color:#33adff"><b>Professional</b></span></h3>
  <p class="choose">No blending of garments.Ultra-clean laundromats with extraordinary bunding to keep up freshness.</p>	
  </div>
  </div>
  </div>
  </div>

  
<div class="row"> 
<div class="col-md-10 col-md-offset-1">
  
  <div class="col-md-6">
 <h3 class="does"><b><span style="color:#33adff"> How does it work?</b></span></h3>
<p>Choosing our laundry service is as easy as doing online shopping. Just follow simple steps and enjoy best of the laundry services at the comfort of your home</p>

<p><span class="glyphicon glyphicon-play"style="color:#33adff"></span>  Provide us with your location.</p>
<p><span class="glyphicon glyphicon-play" style="color:#33adff"></span>  Choose what kind of service you would like to avail.</p>
<p><span class="glyphicon glyphicon-play" style="color:#33adff"></span>  Provide us with the pick-up and delivery time of your convenience.</p>
<p><span class="glyphicon glyphicon-play" style="color:#33adff"></span>  Confirm your order.</p>
<p><span class="glyphicon glyphicon-play" style="color:#33adff"></span>  Make payment (online or Pay cash at home).</p>
<p><span class="glyphicon glyphicon-play" style="color:#33adff"></span>  Our pick up boy will reach at your doorstep at scheduled time.</p>
<p>Laundry & Dry Cleaning Services is a reliable and responsible laundry service. We don’t only take good care of your clothes but also the environment. Our eco-friendly washing procedures and products used are recognized as eco-friendly products.</p>
</div>
 <div class="col-md-6">
 <h3 class="round1"><img src="{%  static 'laundry1.png' %}"height="350" width="100%" class="img-rounded"/></h3>
 </div>
 </div>
 </div>

{% endblock %}