{% load staticfiles %}
<html>
<head>

<body>
<link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css'%}"type="text/css"rel="stylesheet"/>
<link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap-theme.min.css'%}"type="text/css"rel="stylesheet"/>
<link href="{% static 'laundrystyle.css'%}"type="text/css"rel="stylesheet"/>
</head>
<body>
<div class="container-fluid">
<div class="row" >
<div class="col-md-3">
<h1><img src="{% static 'baner.jpg' %}" height="50" width="50" class="img-circle"/></h1>
</div>
<div class="col-md-9">
<nav class="navbar-inverse" >
<ul class="nav navbar-nav">
<li><a href="#"><span class="orange"> HOME</span></a> </li>
<li><a href="#"> ABOUT</a> </li>
<li><a href="#"> SERVICES</a> </li>
<li><a href="#"> CONTACT US</a> </li>
<li><a href="#"> DOWNLOAD</a> </li>
</ul>
</nav>
</div>
</div>
<div class="col-md-12">
<div class="row" id="demodemo">
<h2 class="demoawesome" > It is awesome </h2>
<h3> Making the web eassy.</h3>
</div>
</div>


<!---<div class="col-md-12">
<div class="row" >
<h4 class="wedo">WE DO</h4>
</div>
</div>

<div class="row" id="demorow3">
<div class="col-md-4">
<h2><span class="glyphicon glyphicon-bell" id="demoicon"></h2> </span>
<h2>Stupidaly Simple</h2>
<p> a bakery is an establishment that produces and sells flour- based food baked.</p>
</div>


<div class="col-md-4">
<h2><span class="glyphicon glyphicon-home" id="demoicon"></h2> </span>
<h2>Stupidaly Simple</h2>
<p> a bakery is an establishment that produces and sells flour- based food baked.</p>
</div>


<div class="col-md-4">
<h2><span class="glyphicon glyphicon-alert" id="demoicon"></h2> </span>
<h2>Stupidaly Simple</h2>
<p> a bakery is an establishment that produces and sells flour- based food baked.</p>
</div>
</div>

<div class="col-md-12">
<div class="row" id="demorow4">
<h2 class="latest">OUR LATESET PROJECTS</h2>
</div>
</div>

<div class="row" id="demorow5">
<div class="col-md-4">
<h2><img src="{% static 'our1.jpg' %}" height="150" width="250" /></h2>
<h1 font-color="#004f99" > Vostro LTD</h1>
<p>Pick me i am here to help you add content to your website and make it reflect the message you want to get access. am I description?
informtion about your company? a heart-werenching story or etc</p>
</div>

<div class="col-md-4">
<h2><img src="{% static 'our2.jpg' %}" height="150" width="250" /></h2>
<h1 font-color="#004f99">Vostro LTD</h1>
<p>Pick me i am here to help you add content to your website and make it reflect the message you want to get access. am I description?
informtion about your company? a heart-werenching story or etc</p>
</div>

<div class="col-md-4">
<h2><img src="{% static 'our3.jpg' %}" height="150" width="250" /></h2>
<h1 font-color="#004f99">Vostro LTD</h1>
<p>Pick me i am here to help you add content to your website and make it reflect the message you want to get access. am I description?
informtion about your company? a heart-werenching story or etc.</p>
</div>
</div>

<div class="row" id="row6">
<div class="col-md-12">
<h5 class="you">YOU GET</h5>
</div>


<div class="row" id="row7">
<div class="col-md-4" id="demorow7">
<h2><span class="glyphicon glyphicon-time" id="democloricon"></h2> </span>
<h4>Accuracy</h4>
<p>if you want to partner to take you though your website building journey,then the web wizerd is for you instead of beginnig with a template, the web wizerd helps you create your website in seven easy steps</p>
</div>

<div class="col-md-4" id="demorow7">
<h2><span class="glyphicon glyphicon-time" id="democloricon"></h2> </span>
<h4>Accuracy</h4>
<p>if you want to partner to take you though your website building journey,then the web wizerd is for you instead of beginnig with a template, the web wizerd helps you create your website in seven easy steps</p>
</div>

<div class="col-md-4" id="demorow7">
<h2><span class="glyphicon glyphicon-time" id="democloricon" ></span></h2>
<h4>Accuracy</h4>
<p>if you want to partner to take you though your website building journey,then the web wizerd is for you instead of beginnig with a template, the web wizerd helps you create your website in seven easy steps</p>
</div>
</div>
</div>

<div class="row" id="demorow8">
<div class="col-md-12">
<h2 class="customer">CUSTOMERS SAY</h2>
</div>
</div>

<div class="row" id="demorow9">
<div class="col-md-3">
<h3><img src="{% static 'customer1.jpg' %}" height="150" width="250" /></h3>
<h1 class="cuscolor">Thomas jarvis</h1>
<p>ITT CEO</p>
<p> when we talk abount project thomas create a great project in there life. it make their oun theme you have many tools to play around with, like cookers schemes etc.</p>
</div>

<div class="col-md-3">
<h3><img src="{% static 'customer2.jpg' %}" height="150" width="250" /></h3>
<h1 class="cuscolor">sarah jackson</h1>
<p>ITT CEO</p>
<p> when we talk abount project thomas create a great project in there life. it make their oun theme you have many tools to play around with, like cookers schemes etc.</p>
</div>

<div class="col-md-3">
<h3><img src="{% static 'customer3.jpg' %}" height="150" width="250" /></h3>
<h1 class="cuscolor">Jack milestone</h1>
<p>ITT CEO</p>
<p> when we talk abount project thomas create a great project in there life. it make their oun theme you have many tools to play around with, like cookers schemes etc.</p>
</div>

<div class="col-md-3">
<h3><img src="{% static 'customer4.jpg' %}" height="150" width="250" /></h3>
<h1 class="cuscolor">Mike jackson</h1>
<p>ITT CEO</p>
<p> when we talk abount project thomas create a great project in there life. it make their oun theme you have many tools to play around with, like cookers schemes etc.</p>
</div>
</div>

<div class="row" id="footer">
<div class="col-md-3" >
<h1 class="footerheading">We can</h1>
<p>want to add your own create touch? makeyour own theme! you have many tools to play around with, like colors schemes,icons, fonts, images, and languages and background.</p>
</div>
<div class="col-md-3">
<h1 class="footerheading">Contact us</h1>
<li>1856 cardinal drive</li>
<li>melaborne, fl 32456</li>
<li>tel 2335263747</li>
<li>faz46376888886</li>
</div>
<div class="col-md-3">
<h1 class="footerheading">contect us</h1>
<li>34373768</li>
<li>34373768</li>
<li>34373768</li>
<li>34373768</li>
<li>34373768</li>
<li>34373768</li>
</div>
<div class="col-md-3">
<h1 class="footerheading">social</h1>
<h2><img src="{% static 'fa.jpg' %}" height="30" width="30" class="img-circle"/>
<img src="{% static 'instagram.jpg' %}" height="30" width="30"class="img-circle"/>
<img src="{% static 'in.jpg' %}" height="30" width="30"class="img-circle"/></h2>
</div>--->
</div>
</body>
</html>
