
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row" id="sdetail">
<br>
<br>
<br>
<h3 class="about"><b><span style="color: #006bb3"> FAQ  </b> </span></h3>
<br>
<br>
<br>
</div>
<br>
<br>


<style type="text/css">
.head{font-family:Arial;}
.btn{color: aliceblue;}
.btn{font-size:30px;text-color:black;}
.card-body{text-align:justify;font-size:20px;font-family:Arial;color:black;margin-left:160px;}
</style>
</head>
<body>
<div class="bs-example">
    <div class="accordion" id="accordionExample">
        
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <h3 class="head">   <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo">Which items should be dry cleaned and which should be laundered?</button></h3>            
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <p>> With linen, you have a few options. You can hand wash in cold and air dry but it often requires ironing. ...<br>
> Rayon is a tricky fabric because it's considered semisynthetic. ...<br>
> Silk is a natural material and thus is durable. ...<br>
> Wool is a sturdy fabric and should be dry cleaned whenever possible.</p>
                </div>
            </div>
        </div>
		<div class="card">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                 <h3 class="head">    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseFive">Can I get my leather or suede cleaned at clean clothes dry cleaners?</button></h3>								
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    <p> It's advisable not to. You can take your leather jacket to the dry cleaners but be warned that dry-cleaning leather jackets are not always a walk in the park. You may get them cleaned but not without undoing any or all of the treatments undertaken to get them to look and feel the way they do.Suede gets dirtier faster and is more difficult to clean. It also stains easily; even water stains it, so suede shoes and jackets are not appropriate for exceedingly wet climates. ... The very best way to clean suede leather shoes and garments of any type is to take them to a dry cleaner.</p>
                </div>
            </div>
        </div>
		<div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                   <h3 class="head"> <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">What is the difference between dry cleaning and regular washing?</button>	</h3>								
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <p>The fundamental difference between dry cleaning and laundering is water; dry-cleaning does not use water while laundering does. Most dry cleaners use chemical solvents like perchloroethylene (PERC) to get rid of stains like pen ink while the process of laundering uses gentler soaps and detergents.The traditional wet laundry cleaning method involves using detergent in water with the clothing during the washing cycle. Sometimes a spot remover is sprayed on a stain before washing. The detergent removes the dirt during the agitation process. Then the water then removed from the clothes during the spin cycle. The clothes are dried either in a dryer or hung up to dry and afterwards steamed and pressed to remove the wrinkles</p>
                </div>
            </div>
        </div>
		<div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                  <h3 class="head">   <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseFour">What can I do to preserve the color and brightness of my laundry?</button></h3>									
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <p>The absolute best thing you can do to make sure your colors don't wash out is to always wash your colors, especially brights, in cold water.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <h3 class="head">   <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree">Do you remove spot stains with your drop off laundry service, and if so, does that cost extra?</button>  </h3>                   
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <p>We are very happy to spray spot stains to remove them from your laundry so long as you are sure to point them out to us. We provide this service at no extra charge.</p>
                </div>
            </div>
        </div>
		
		
		<div class="card">
            <div class="card-header" id="headingSeven">
                <h2 class="mb-0">
                 <h3 class="head">    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven">Do your employees accept tips for services they provide?</button> </h3>									
                </h2>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Yes, our employees do accept tips if you feel so inclined, and they are greatly appreciated!</p>
                </div>
            </div>
        </div>
		<div class="card">
            <div class="card-header" id="headingTen">
                <h2 class="mb-0">
                 <h3 class="head">    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseTen">How long do you store finished garments?</button></h3>									
                </h2>
            </div>
            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Dry cleaning is any cleaning process for clothing and textiles using an organic solvent other than water. Special solvents and soaps are used so as not to harm fabrics and dyes that will not withstand the effects of ordinary soap and water. This process is gentler than regular washing because it reduces the possibility of shrinkage and/or color loss.</p>
                </div>
            </div>
        </div>
		<div class="card">
            <div class="card-header" id="headingSix">
                <h2 class="mb-0">
                 <h3 class="head">    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseSix">What do I do if i get a stain on my clothes?</button></h3>								
                </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Dry cleaning is any cleaning process for clothing and textiles using an organic solvent other than water. Special solvents and soaps are used so as not to harm fabrics and dyes that will not withstand the effects of ordinary soap and water. This process is gentler than regular washing because it reduces the possibility of shrinkage and/or color loss.</p>
                </div>
            </div>
        </div>
		
		<div class="card">
            <div class="card-header" id="headingEight">
                <h2 class="mb-0">
                <h3 class="head">     <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseEight">How will I know that my laundry has been picked-up?</button></h3>									
                </h2>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Once you place your order, Simply Laundry gets notified that your laundry is ready for pick-up. Our team will swing by to collect it from your concierge or doorstep (as per your chosen option) and we will change the status of your order to "Picked-up" in your account.</p>
                </div>
            </div>
        </div>
		
		<div class="card">
            <div class="card-header" id="headingNine">
                <h2 class="mb-0">
               <h3 class="head">      <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseNine">What happens to my laundry bag?</button>	</h3>								
                </h2>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Please place your order in a disposable bag, as Simply Laundry won’t take responsibility of your laundry bags,hampers, suit bags in case they get misplaced. We deliver your clothes in a reusable Eco-friendly garment bag, which has your personalized name tag for future use. Therefore, please don’t give out clothes in expensive suit covers, hampers or bags.</p>
                </div>
            </div>
        </div>
		
    </div>
</div>
{% endblock %}