{% load staticfiles %}
<html>
<head>
<link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css'%}"type="text/css"rel="stylesheet"/>
<link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap-theme.min.css'%}"type="text/css"rel="stylesheet"/>
<link href="{% static 'laundrystyle.css'%}"type="text/css"rel="stylesheet"/>
<link href="{% static 'font/flaticon.css'%}"type="text/css" rel="stylesheet"/>
</head>
<body >
<div class="container-fluid">
<style>h6{font-size:30px;color:white;background-color:#80aaff;font-style:bold;padding:10px;}</style>
<div class="row" id="backimage" >
<div class="col-md-12">
<h2 class="heading">FAQ</h2>
</div>
</div>

<div class="row">
<div class="col-md-10 col-md-offset-1" >
<span class="flaticon-jacket"/></span>
<h6>What is the difference between dry cleaning and regular washing?</h6>
<p>Dry cleaning is any cleaning process for clothing and textiles using an organic solvent other than water.
 Special solvents and soaps are used so as not to harm fabrics and dyes that will not withstand the effects
 of ordinary soap and water. This process is gentler than regular washing because it reduces the possibility
 of shrinkage and/or color loss</p>
<h6>Which items should be dry cleaned and which should be laundered?</h6>
<h6>What if I can’t be home for my scheduled pick-up or drop off?</h6>
<h6>What if I am missing an item of clothing from my returned bag?</h6>
<h6>Can I get my leather or suede cleaned at clean clothes dry cleaners?</h6>
<h6>What do I do if i get a stain on my clothes?</h6>
<h6>When a garment’s label says washable, can it be dry-cleaned?</h6>
<h6>What if my clothes are damaged?</h6>
<h6>Can you remove all stains?</h6>
<h6>How long do you store finished garments?</h6>
<h6>How fast can I have my garments back?</h6>
<h6>Do you take personalized instructions for garments?</h6>
</div>
</div>

<div class="col-md-12">
<div class="row" >
<h2 class="heading"><style>heading{padding-bottom:30px;}</style>See More</h2>
</div>
</div>
</div>

<div class="row" id="footer">
<div class="col-md-3" id="column">
<h1 class="head">Laundry & Drycleaning</h1>
<p>nam libero tempore,cum soluta est eligend!
optio cumque nihil impedit quo minus id quod maxime placeat facere to possimus,
omnis voluptas repellendus.</p>
<p class="pichead"><img src="{% static 'fa.jpg' %}" height="30" width="30" class="img-circle"/>  
 <img src="{% static 'instagram.jpg' %}" height="30" width="30"class="img-circle"/>
 <img src="{% static 'in.jpg' %}" height="30" width="30"class="img-circle"/></p>
</div>

<div class="col-md-3">
<h2 class="footerhead">SERVICES</h2>
<li class="li"><span class="blue"> Free pick-up and delivery</span></li>
<li class="li">High quality</li>
<li class="li">dry cleaning</li>
<li class="li">Slik and suede</li>
</div>

<div class="col-md-3" >
<h2 class="footerhead">OUR BLOG</h2>
<ul class="ul2"><span class="blue">Dry cleaing tips for suits</span></ul>
<ul class="ul2">tips of maintaining your wardrobe</ul>
<ul class="ul2">how to care your slik clothes</ul>
</div>

<div class="col-md-3" >
<h2 class="footerhead">INSTAGRAM</h2>
<p><img src="{% static 'bucket.jpg' %}" height="60" width="80"  class="img-rounded"/>
<img src="{% static 'bucket.jpg' %}" height="60" width="80"  class="img-rounded" />
<img src="{% static 'bucket.jpg' %}" height="60" width="80"   class="img-rounded"/>
<img src="{% static 'bucket.jpg' %}" height="60" width="80"   class="img-rounded"/>
<img src="{% static 'bucket.jpg' %}" height="60" width="80"   class="img-rounded"/>
<img src="{% static 'bucket.jpg' %}" height="60" width="80"   class="img-rounded"/>
</p>
<h2 class="footerhead">SUBSCRIBE</h2>
</div>
<div class="row">
<div class="col-md-12">
<h2 class="footerend">Laundry & Drycleaning Service</h2>
</div>
</div>
</div>
</body>
</html>