{% load staticfiles %}
<html>
<head>
<link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css'%}"type="text/css"rel="stylesheet"/>
<link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap-theme.min.css'%}"type="text/css"rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="{% static 'bxslider-4-4.2.12/dist/jquery.bxslider.min.css' %}"/>
<link href="{% static 'laundrystyle.css' %}" type="text/css" rel="stylesheet"/>
<script src="{% static 'bootstrap-3.3.7-dist/jquery.js' %}"></script>
<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
<script src ="{% static 'bxslider-4-4.2.12/dist/jquery.bxslider.min.js' %}"></script>
<link  href="{% static 'font/flaticon.css' %}"  type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="containerield">
<div class="row" class="col-md-12" id="practiceheader">
</div>
</div>
</body>
</html>