{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style>
.textile{font-family:Arial;font-size:35px;text-align:center;}
.cleaning{font-family:Arial;font-size:18px;text-align:justify;padding-left:40px;}
.process{border-radius:10px;border-color:black;}
.dryclean{text-align:center;}
</style>
<div class="row" id="sdetail">
<h3 class="about"><b><span style="color:#33adff"> SERVICES </b> </span></h3>
<h1 class="aboutus">Home/Services</h1>
<br>
<br>
<br>
<br>
<br>
</div>
<br>

  <div class="col-md-12"id="text">
  <h2 class="dryclean"><b><span style="color:#33adff"> SMART CLEAN<span style="color:#33adff"> SERVICES</b></h2>
  <p class="fabric">At laundry & Dry Cleaning you can enjoy gamut of services at affordable prices. Whether its domestic laundry or commercial laundry, dry cleaning, steam ironing or deep cleaning of your homes, you can find everything with us without worrying about the prices and turnaround time. Our express delivery service is perfect for last minute situations.
  Laundry & Dry Cleaning is a perfect solution to maintain cleanliness in home, office or just any place you use. We understand the importance of cleanliness in your lives and work. Don’t bother yourself by cleaning your office or home space; you can always rely on us for all your cleaning needs. We provide professional cleaning services for both, homes and commercial establishments. Our services include:</p> 
 </div>
    
  <div class="row" id="process">
  <div class="col-md-10 col-md-offset-2">
  <div class="col-md-3">
  <h3 class="process"><img src="{%  static 's.jpg' %}"height="180" width="120%" ></h3>
  </div>
  <div class="col-md-7">
  <h3 class="textile"><span style="color:#33adff"><b>Dry Clean</b></span></h3>
  <p class="cleaning">Our dry cleaning process involves cleaning of clothes or any kind of textile with the help of fabric friendly solvent other than water. Our services are best for garments that can be degraded with normal washing procedures. By using high quality products, we ensure to maintain the colour and life of your expensive garments.</p>
  </div>
  </div>
  </div>

  <div class="row">
  <div class="col-md-10 col-md-offset-2">
  <div class="col-md-7">
  <h3 class="process"><img src="{%  static 'stream.jpg' %}"height="390" width="100%" ></h3>
  </div>
  <div class="col-md-3"> 
  <h3 class="textile"><span style="color:#33adff"><b>Steam Ironing</b></span></h3>
  <p class="cleaning">How irritating it can be, when you are late for a meeting and your favourite suit or sari has a crumpled crease. There is nothing more embarrassing than wearing a wrinkled garment in front of your colleagues or clients. Use our steam ironing service and get your daily and occasional garments wrinkle free. Our steam irons are capable enough to handle all kinds of garments as well as have the option of dry ironing.</p>
  </div>
  </div>
  </div>
 
  <div class="row">
  <div class="col-md-10 col-md-offset-2">
  <div class="col-md-3">
  <h3 class="textile"><span style="color:#33adff"><b>Wash & Fold</b></span></h3>
  <p class="cleaning">Our wash and fold service can help you save big time on your monthly home laundry expenses. Our service is convenient and handled by professionals, who are expert in washing and folding all kinds of fabrics and textiles. So, why waste time on these household chores when you have professional wash and fold service at your disposal.</p>
  </div>
 
  <div class="col-md-7"> 
  <h3 class="process"><img src="{%  static 'w4.png' %}"height="310" width="100%" ></h3>
  </div>
  </div>
  </div>
 
  <div class="row">
  <div class="col-md-10 col-md-offset-2">
  <div class="col-md-7">
  <h3 class="process"><img src="{%  static 'house.jpg' %}"height="310" width="100%" ></h3>
  </div>
  <div class="col-md-3">
  <h3 class="textile"><span style="color:#33adff"><b>House Hold </b></span></h3>
  <p class="cleaning">Our household cleaning services ensure complete cleanliness of your house and cars. Don’t spend your precious hours in cleaning your home or office. Rather hire a professional service like us and leave all your cleaning worries with us. Laundry bucket is a specialist in providing household laundry services at affordable prices.</p>
  </div>
  </div>
  </div>
 
  <div class="row">
  <div class="col-md-10 col-md-offset-2">
  <div class="col-md-3">
  <h3 class="textile"><span style="color:#33adff"><b>Wash & Iron</b></span></h3>
  <p class="cleaning">Use our wash and iron service and get your clothes, washed, dried, ironed and ready to wear form. Why spend extra hours and money on these tasks. Instead hire laundry bucket to handle all your cleaning problems for you. Also make big monthly savings on your laundry bills by using our professional wash and iron service.</p>
  </div>
  <div class="col-md-7"> 
  <h3 class="process"><img src="{%  static 'i1.png' %}"height="310" width="100%" ></h3>
  </div>
  </div>
  </div>
  <br>

  
  
  

 
{% endblock %}